@layer components {
  .SecondaryMenu-menu {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    padding: var(--spacing-s);
    min-width: 200px;
  }

  /* Submenu level 1 wrapper */
  .SecondaryMenu-submenuWrapper1 {
    margin-top: 4px;
    margin-left: var(--spacing-l);
    border-radius: var(--radius-m);
    width: 192px;
    background-color: var(--color-shelf-background);
  }

  /* Submenu level 2 wrapper */
  .SecondaryMenu-submenuWrapper2 {
    margin-top: 4px;
    margin-left: var(--spacing-s);
    border-radius: var(--radius-m);
    width: min(168px, calc(100% - 8px));
    background-color: var(--color-shelf-background);
  }

  .SecondaryMenu-submenu {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    padding: var(--spacing-s);
  }
}
