@layer components {
  .Row {
    display: flex;
    box-sizing: border-box;
  }

  .Row-flexNoWrap {
    flex-wrap: nowrap;
  }

  .Row-flexWrap {
    flex-wrap: wrap;
  }

  .Row-flexWrapReverse {
    flex-wrap: wrap-reverse;
  }

  .Row-xAlignStart {
    justify-content: flex-start;
  }

  .Row-xAlignCenter {
    justify-content: center;
  }

  .Row-xAlignEnd {
    justify-content: flex-end;
  }

  .Row-yAlignStretch {
    align-items: stretch;
  }

  .Row-yAlignCenter {
    align-items: center;
  }

  .Row-yAlignEnd {
    align-items: flex-end;
  }
}
