@layer components {
  .Headline {
    font-family: var(--typeface-product-primary);
    font-weight: var(--weight-bold);
    color: var(--color-text-default-on-light);
    word-break: break-word;
    margin: 0;
  }

  /* Size: Small */
  .Headline-sizeS {
    font-size: var(--font-size-m);
    line-height: var(--line-m);
  }

  /* Size: Medium */
  .Headline-sizeM {
    font-size: var(--font-size-l);
    line-height: var(--line-xl);
  }

  /* Size: Large */
  .Headline-sizeL {
    font-size: var(--font-size-xl);
    line-height: var(--line-xxl);
  }
}
